langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
huggingface-hub
sentence-transformers
faiss-cpu
streamlit
pypdf
python-dotenv

# Stock module
requests
beautifulsoup4
lxml
pandas
apscheduler

-e .
